<div content-for="title">
    <span>Edit Employee</span>
</div>


<div class="scrollable">
    <div class="scrollable-content section" ng-controller="EditController">

        <div ng-include="'templates/employee.html'"></div>

        <div bs-panel class="form-actions">
            <button type="submit" id="btnSignIn" ng-click="alert(1)" class="btn btn-primary"
                    data-style="expand-right">
                Save Employee
            </button>

            <button type="submit" id="btnDelete" ng-click="alert(1)" class="btn btn-danger pull-right"
                    data-style="expand-right">
                Delete Employee
            </button>
        </div>
    </div>
</div>