<input type="search" class="form-control app-search" ng-model="filter.value" ng-keypress="search($event)"
       placeholder="Search.."/>

<div class="scrollable">
    <div class="scrollable-content">

        <div class="list-group-item" ng-repeat="e in employees">

            <a href="#/edit/{{e._id}}" class="item-list">
            <div class="person">
                <div class="avatar"><img src="{{e.medium + '?s=150'}}"></div>


                <!--<div class="header">-->
                    <div class="name"> <h3> {{e.first + ' ' +e.last}} </h3> </div>
                <!--</div>-->
                <i class="fa fa-chevron-right pull-right"></i>
                <div class="clear"></div>
            </div>
            </a>
        </div>
    </div>
</div>

