<ion-view title="Account">
    <ion-nav-buttons side="left">
        <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
    

        <!-- TEST INFINIT SCROLL-->
       <!--
        <div ng-controller='DemoController'>
            <div infinite-scroll='reddit.nextPage()' infinite-scroll-disabled='reddit.busy' infinite-scroll-distance='1'>
                <div ng-repeat='item in reddit.items'>
                    <span class='score'>{{item.score}}</span>
                    <span class='title'>
                        <a ng-href='{{item.url}}' target='_blank'>{{item.title}}</a>
                    </span>
                    <small>by {{item.author}} -
                        <a ng-href='http://reddit.com{{item.permalink}}' target='_blank'>{{item.num_comments}} comments</a>
                    </small>
                    <div style='clear: both;'></div>
                </div>
                <div ng-show='reddit.busy'>Loading data...</div>
            </div>
        </div>
        -->
    
    </ion-content>
</ion-view>

